<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Def Not Reddit</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if (url == '/') { %>
            <a class="nav-link active" aria-current="page" href="#"> <i class="fas fa-home fa-1x"></i> Home</a>
          <% } else if (url.includes('/r/')) { %>
            <a class="nav-link active" aria-current="page" href="#"><%= url%> </a>
          <% } else { %>
            NA
          <% } %>  
        </li>
        <ul class="nav-item dropdown me-2 mb-2 mb-lg-0">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-plus"></i></i>
            Create Post
          </a>
          <ul class="dropdown-menu">
            <li><div class="ps-2">Your Communities</div></li>
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#createCommunity"><i class="bi bi-plus-lg"></i> Create a Community</a></li>
            <li><a class="dropdown-item" href="#">Manga</a></li>
            <li><a class="dropdown-item" href="#">Gaming</a></li>
            <li><a class="dropdown-item" href="#">Anime</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><div class="ps-2">Feeds</div></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-home fa-1x"></i> Home</a></li>
            <li><hr class="dropdown divider"></li>
            <li><div class="ps-2">Other</div></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-gear-fill"></i> Settings</a></li>
          </ul>
        </ul>
      </ul>
 
      <form class="d-lg-flex flex-row mb-2 mb-lg-0" method="GET" action="/">
          <input class="form-control d-flex flex-row me-2" type="search" placeholder="Search Community" aria-label="Search">
        </form>
      <ul class="ms-auto mb-2 mb-lg-0">

      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if (signedUser) { %>
          
          <li class="nav-item">
            <a href="submit" class="nav-link">
              <i class="fas fa-plus fa-1x"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="comment-item-profile" src="https://assets.codepen.io/3283647/internal/avatars/users/default.png?fit=crop&format=auto&height=256&version=1608577514&width=256" alt=""><%= signedUser.username %> 
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#">My Profile</a>
                <a class="dropdown-item" href="/users/logout">Log out</a>
              </div>
            </li>
        <% } else { %>
          <li class="nav-item btn btn-log-in px-3 me-2">
            <a href="/users/login">
              Log in
            </a>
          </li>
          <li class="nav-item btn btn-primary btn-sign-up px-3">
            <a href="#" data-bs-toggle="modal" data-bs-target="#signup">
              Sign Up
            </a>
          </li>
          <% } %>
        </ul>
    </div>
  </div>
  
  <div class="modal fade" id="createCommunity" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create a Community</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/r" method="POST">
        <div class="modal-body">
          
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Name</label>
              <input type="text" name="r" class="form-control" id="exampleFormControlInput1" placeholder="r/" maxlength="21">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Description</label>
              <textarea  class="form-control" name="description" id="descripton" placeholder="Tell us about your community"></textarea>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
              <label class="form-check-label" for="flexRadioDefault1">
                <i class="bi bi-person-circle"></i> Public
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
              <label class="form-check-label" for="flexRadioDefault2">
                <i class="bi bi-eye-slash-fill"></i> Restricted
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" >
              <label class="form-check-label" for="flexRadioDefault2">
                <i class="bi bi-lock-fill"></i> Private
              </label>
            </div>
            <h4>Adult Content</h4>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                18+ year old community
              </label>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create Community</button>
        </div>
      </form> 
      </div>
    </div>
  </div>

<!-- sign up -->
  <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form  action="/users" method="POST">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Sign Up</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            <div class="form-group mb-3">
              <label for="username">Pick a username</label>
              <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Earf@notreddit.com" name="email" required>
            </div>
            <div class="form-group mb-3">
              <label for="password">Choose a password</label>
              <input type="password" class="form-control" name="password" aria-describedby='passwordHelp' required>
              <small id="passwordHelp" class="form-txt text-muted">Min 6 Characters, numbers & letters</small>
          </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>