<%- layout('layouts/boilerplate')  %> 
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2 text-center mt-5">
            <h3>The Subreddit r/<%= subreddit %> doesn't exist</h3>
            <h5>Would you like to create one?</h5>
            <a class="btn btn-primary" href="/r/new">Create a community</a>
        </div>
    </div>
</div>