.join_banner {
    background-color: #000;
    color: white;
    height: 100%;
    /* background-image: url('/images/shinji.png'); */
    /* background-size: cover; */
    float: left;
    width: 50%;
}

.join_form {
    color: #000;
    height: 100%;
    width: 50%;
    float: left;
    background: #fff;
}

#join a {
    color: #fff;
}

#join a:hover{
    color: aqua;
}


body {
    background: #DAE0E6;
}

.btn-sign-up {
    border-radius: 999px;
    
}

.btn-sign-up a {
    color: #fff;
    text-decoration: none;
}

.btn-log-in {
    border-radius: 999px;
    border-color: #0079D3;
}

.btn-log-in a {
    color: #0079D3;
    text-decoration: none;
}

.post {
    background: #fff;
}

.post-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.post {
    border: 1px solid black;
    margin: 10px 0px;
    padding: 5px;
    display: flex;
    gap: 20px;
}
.post-upvote {
    display: flex;
    flex-direction: column;
}
.recent-posts {
    background-color: #fff;
    margin-bottom: 10px;
    
}

.top-communities {
    background-color: #fff;
    margin-top: 10px;
}

.btn {
    border-radius: 999px;
}

.faq {
    background-color: #fff;
}


.comment-item {
    border-left: 3px black solid;
}
.comment-item-image {
    width: 20%;
    float: left;
}

img.comment-item-profile {
    width: 50px;
    border-radius: 50%;
}

.comment-item-body{
    width: 80%;
    float: left;
}

/* views/submit/create post.ejs */
.custom-button-size {
    width: 100px !important;
    margin: 0 auto;
}
/* views/partials/navbar.ejs */
.modal-centering {
    transform: translateY(25%);
}
/* views/partials/navbar.ejs */
.about {
    margin: 5;
    text-align: justify;

  }